<!--carousel -->
<!--popup -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARRT'EMIS</title>

    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/snx7zgg.css">
    <link rel="stylesheet" href="./assets/product-detail.css">
</head>

<body>
    <div class="wrapper">
        <div class="header">

            <div class="header-logo-part">
                <img src="./images/폰트LOGO.png" alt="ARRT`EMIS FONT LOGO">
            </div>
            
            <div class="nav">
                <div class="nav-item portal">portal</div>
                <div class="nav-item instagram">instagram</div>
                <div class="nav-item community">community</div>
                <div class="nav-item search">search</div>
            </div>

        </div>
    
        <div class="main-section">
            <!-- carousel-->
            <div class="main-fitting-part">
                fitting shot
            </div>

            <!-- carousel-->
            <div class="main-product-img-part">
                <img class="main-product-detail-img" src="./images/clothes sample.png" alt="delete later">
            </div>

            <div class="main-product-options-part">
                <div class="product-name">sample blazer</div>
                <div class="product-material">made in korea</div>
                <div class="product-color">color</div>
                <div class="product-size">size</div>
                <div class="product-quantity">
                    <input type="number" name="qty" id="qty">
                </div>
                <div class="product-price">
                    999.9 CNY
                </div>
                <div class="buy-link">
                    <input type="button" value="buy">
                </div>
                <div class="product-size-guide">fitting size guide</div>
                <div class="product-policy">return & exchange</div>
            </div>

        </div>
        
        <div class="related-section">
            related product
        </div>

        <div class="footer">

            <div class="footer-information">
                <div class="footer-item stores">stores</div>
                <div class="footer-item contact">contact</div>
                <div class="footer-item shipping-return">shippingAndReturn</div>
                <div class="footer-item policy">policy</div>
                <div class="footer-item copyright">copyright</div>
            </div>

        </div>  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>